In [2]:
import pandas as pd
from mord import LogisticIT
import scipy.stats as stat

from sklearn.linear_model import LogisticRegression
import numpy as np
DATASET_PATH = "./Input/Demographic.txt"
data_headers = ["programmingYears","yearsWorkedProfessional","age","gender","pretest"]
dta = pd.read_csv(DATASET_PATH,header=None)
dta.columns = ["programmingYears","yearsWorkedProfessional","age","gender","pretest"]

In [3]:
dta.describe()

       programmingYears  yearsWorkedProfessional       age    pretest
count         28.000000                 28.00000  28.00000  28.000000
mean           6.178571                  2.50000  25.25000   6.500000
std            4.891819                  3.14466   4.55115   0.793492
min            2.000000                  0.00000  20.00000   5.000000
25%            3.000000                  0.75000  21.75000   6.000000
50%            5.000000                  2.00000  25.00000   7.000000
75%            7.250000                  3.00000  27.25000   7.000000
max           25.000000                 15.00000  36.00000   7.000000